<h1><%= @page_title %></h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut optime, secundum naturam affectum esse possit. Quae in controversiamLorem ipsum dolor sit amet, consectetur adipiscing elit. Ut optime, secundum naturam affectum esse possit. Quae in controversiamLorem ipsum dolor sit amet, consectetur adipiscing elit. Ut optime, secundum naturam affectum esse possit. Quae in controversiamLorem ipsum dolor sit amet, consectetur adipiscing elit. Ut optime, secundum naturam affectum esse possit. Quae in controversiamLorem ipsum dolor sit amet, consectetur adipiscing elit. Ut optime, secundum naturam affectum esse possit. Quae in controversiamLorem ipsum dolor sit amet, consectetur adipiscing elit. Ut optime, secundum naturam affectum esse possit. Quae in controversiam</p>
<div class="well">
	<h3>Location Info</h3>
	<ul>
		<li>The Bookstore</li>
		<li>499 manchester building</li>
		<li>Boston, MA 123456</li>
		<li>(Phone) (123) 111-1111</li>
		<li>Email: support@thebookstore.co</li>
	</ul>
</div>
