<h2>Categories</h2>

<table class="table table-striped">
	<tr>
		<th>Category Name</th>
		<th>Action</th>
	</tr>

	<% @categories.each do |category| %>
		<tr>
			<td><%= category.name %></td>
			<td><%= link_to 'Edit', edit_category_path(category.id) %> | <%= link_to 'Delete',  category_path(category.id), method: :delete, data: {confirm: 'Are You sure?'} %> </td>
		</tr>

	<% end %>
</table>